apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: killer-app
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: amitmaman1/my-backend:latest
        ports:
        - containerPort: 5000
        env:
        - name: SUPABASE_URL
          valueFrom:
            secretKeyRef:
              name: killer-app-secret
              key: SUPABASE_URL
        - name: SUPABASE_KEY
          valueFrom:
            secretKeyRef:
              name: killer-app-secret
              key: SUPABASE_KEY
        - name: SUPABASE_ANON_KEY
          valueFrom:
            secretKeyRef:
              name: killer-app-secret
              key: SUPABASE_ANON_KEY
        - name: GROQ_API_KEY
          valueFrom:
            secretKeyRef:
              name: killer-app-secret
              key: GROQ_API_KEY
