apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: killer-app
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: amitmaman1/my-frontend:latest
        ports:
        - containerPort: 80
      #   env:
      #     - name: BACKEND_URL
      #       value: /api
      # imagePullSecrets:
      #   - name: ecr-registry    