apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: aws-secretstore
  namespace: external-secrets
spec:
  provider:
    aws:
      service: SecretsManager
      region: us-east-1
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: aws-credentials       # name of secret
            key: access-key-id
          secretAccessKeySecretRef:
            name: aws-credentials       # name of secret
            key: secret-access-key
