name: build and push images to ecr
on:
  push:
    branches: [ dev ]
    paths:
      - 'backend/**'
      - 'frontend/**'


jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push backend and frontend images
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: my_app
          VERSION: v${{ github.run_number }}
        run: |
 
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:backend-$VERSION ./backend
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:backend-$VERSION


          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:frontend-$VERSION ./frontend
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:frontend-$VERSION
