name: CI/CD Pipeline
on:
  push:
    branches: [ dev ]
    paths:
      - 'backend/**'
      - 'frontend/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
          pip install black
      - name: format code
        run: |
          cd backend
          black .
      - name: Run Python lint
        run: |
          cd backend
          flake8 . --config=.flake8



  test:
    runs-on: ubuntu-latest
    needs: lint
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      SUPABASE_URL: "https://dummy.supabase.co"
      SUPABASE_KEY: "dummy-key"
      GROQ_API_KEY: "dummy-key"
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/test_db

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install backend dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run backend tests
        run: |
          cd backend
          pytest test_app.py -v

      - name: Run integration tests
        run: |
          cd backend
          pytest test_integration.py -v


  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push backend and frontend images
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: my_app
          VERSION: ${{ github.sha }}
        run: |
          SHORT_SHA=$(echo $VERSION | cut -c1-8)

          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:backend-$SHORT_SHA ./backend
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:backend-$SHORT_SHA

          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:frontend-$SHORT_SHA ./frontend
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:frontend-$SHORT_SHA
